/* tables for update and delete selections */
/* printed from FORM.php - function buildForm(...) */
#centerTable {
		border:2px solid black;
		}
#rightSide {
		color:#913929;
		font-size:12px;
		width:248px;
		}
/* circular picture */
.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url('../img/BWCrowd.jpg') no-repeat; 
	}

/* center of the page - including an iframe */
.name  {
		color:#913929;
		font-size:12px;
		}

/* center of the page - including an iframe */
.itsYou  {
		color:#000000;
		font-size:12px;
		border:2px solid red;
		text-align:center;
		}
		
.boxtag  {
		color:#913929;
		font-size:12px;
		}

/* choices in sliding menus on right side */
.description {
		text-align:left;
		font-size:12px;
		text-decoration:emphasis;
		color:#913929;
		}
/* for return on form validation */
.formError {
	color: #FF0000;
	color:#913929;
	font-size:10px;
	text-align:left;
	padding:5px;
	}

.formID {
	color:#913929;
	font-size:10px;
	text-align:left;
	}
.wideform {
	width:650px;
	}
		